<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xq.system.mapper.meeting.CmsAttendanceMapper">

    <resultMap type="CmsAttendance" id="CmsAttendanceResult">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="meetingId" column="meeting_id"/>
        <result property="meetingName" column="meeting_name"/>
        <result property="isLeave" column="is_leave"/>
        <result property="signInStatus" column="sign_in_status"/>
        <result property="signInMethod" column="sign_in_method"/>
        <result property="signInTime" column="sign_in_time"/>
        <result property="signOutStatus" column="sign_out_status"/>
        <result property="signOutMethod" column="sign_out_method"/>
        <result property="signOutTime" column="sign_out_time"/>
        <result property="isDel" column="is_del"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectCmsAttendanceVo">
        select id,
               user_id,
               user_name,
               meeting_id,
               meeting_name,
               is_leave,
               sign_in_status,
               sign_in_method,
               sign_in_time,
               sign_out_status,
               sign_out_method,
               sign_out_time,
               is_del,
               create_time,
               update_time
        from cms_attendance
    </sql>

    <select id="selectCmsAttendanceList" parameterType="CmsAttendance" resultMap="CmsAttendanceResult">
        <include refid="selectCmsAttendanceVo"/>
        <where>
            <if test="userId != null ">and user_id = #{userId}</if>
            <if test="userName != null  and userName != ''">and user_name like concat('%', #{userName}, '%')</if>
            <if test="meetingId != null ">and meeting_id = #{meetingId}</if>
            <if test="meetingName != null  and meetingName != ''">and meeting_name like concat('%', #{meetingName},
                '%')
            </if>
            <if test="isLeave != null ">and is_leave = #{isLeave}</if>
            <if test="signInStatus != null ">and sign_in_status = #{signInStatus}</if>
            <if test="signInMethod != null">and sign_in_method = #{signInMethod}</if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                AND date_format(sign_in_time,'%Y%m%d') &gt;= date_format(#{params.beginTime},'%Y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                AND date_format(sign_out_time,'%Y%m%d') &lt;= date_format(#{params.endTime},'%Y%m%d')
            </if>
            <if test="signOutStatus != null ">and sign_out_status = #{signOutStatus}</if>
            <if test="signOutMethod != null">and sign_out_method = #{signOutMethod}</if>
            <if test="isDel != null ">and is_del = #{isDel}</if>
        </where>
        order by create_time desc,update_time desc
    </select>

    <select id="selectCmsAttendanceByMeetingId" parameterType="Long" resultMap="CmsAttendanceResult">
        <include refid="selectCmsAttendanceVo"/>
        where meeting_id = #{id} and user_id = #{userId}
    </select>

    <select id="selectCmsAttendanceById" parameterType="Long" resultMap="CmsAttendanceResult">
        <include refid="selectCmsAttendanceVo"/>
        where id = #{id}
    </select>
    <select id="selectCmsAttendanceByMeetingIdAndUserId"
            resultType="CmsAttendance">
        <include refid="selectCmsAttendanceVo"/>
        where meeting_id = #{meetingId} and user_id = #{userId}
    </select>

    <insert id="insertCmsAttendance" parameterType="CmsAttendance">
        insert into cms_attendance
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="userName != null">user_name,</if>
            <if test="meetingId != null">meeting_id,</if>
            <if test="meetingName != null and meetingName != ''">meeting_name,</if>
            <if test="isLeave != null">is_leave,</if>
            <if test="signInStatus != null">sign_in_status,</if>
            <if test="signInMethod != null">sign_in_method,</if>
            <if test="signInTime != null">sign_in_time,</if>
            <if test="signOutStatus != null">sign_out_status,</if>
            <if test="signOutMethod != null">sign_out_method,</if>
            <if test="signOutTime != null">sign_out_time,</if>
            <if test="isDel != null">is_del,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userId != null">#{userId},</if>
            <if test="userName != null">#{userName},</if>
            <if test="meetingId != null">#{meetingId},</if>
            <if test="meetingName != null and meetingName != ''">#{meetingName},</if>
            <if test="isLeave != null">#{isLeave},</if>
            <if test="signInStatus != null">#{signInStatus},</if>
            <if test="signInMethod != null">#{signInMethod},</if>
            <if test="signInTime != null">#{signInTime},</if>
            <if test="signOutStatus != null">#{signOutStatus},</if>
            <if test="signOutMethod != null">#{signOutMethod},</if>
            <if test="signOutTime != null">#{signOutTime},</if>
            <if test="isDel != null">#{isDel},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>
    <insert id="batchInsertAttendance">
        INSERT INTO cms_attendance (
        user_id,
        user_name,
        meeting_id,
        meeting_name,
        is_leave,
        sign_in_status,
        sign_out_status,
        create_time
        )
        SELECT
        su.user_id,
        su.user_name,
        cm.meeting_id,
        cm.meeting_name,
        0 AS is_leave,
        0 AS sign_in_status,
        0 AS sign_out_status,
        NOW() AS create_time
        FROM
        cms_meeting cm
        JOIN
        sys_user su
        ON FIND_IN_SET(
        su.user_id,
        <!-- 清理 member_number 中的非法字符 -->
        REGEXP_REPLACE(
        REPLACE(REPLACE(cm.member_number, '[', ''), ']', ''),
        '[^0-9,]',
        ''
        )
        )
        WHERE
        cm.meeting_id = #{meetingId}
    </insert>

    <update id="updateCmsAttendance" parameterType="CmsAttendance">
        update cms_attendance
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="userName != null">user_name = #{userName},</if>
            <if test="meetingId != null">meeting_id = #{meetingId},</if>
            <if test="meetingName != null and meetingName != ''">meeting_name = #{meetingName},</if>
            <if test="isLeave != null">is_leave = #{isLeave},</if>
            <if test="signInStatus != null">sign_in_status = #{signInStatus},</if>
            <if test="signInMethod != null">sign_in_method = #{signInMethod},</if>
            <if test="signInTime != null">sign_in_time = #{signInTime},</if>
            <if test="signOutStatus != null">sign_out_status = #{signOutStatus},</if>
            <if test="signOutMethod != null">sign_out_method = #{signOutMethod},</if>
            <if test="signOutTime != null">sign_out_time = #{signOutTime},</if>
            <if test="isDel != null">is_del = #{isDel},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCmsAttendanceById" parameterType="Long">
        delete
        from cms_attendance
        where id = #{id}
    </delete>

    <delete id="deleteCmsAttendanceByIds" parameterType="String">
        delete from cms_attendance where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteCmsAttendanceByMeetingId" parameterType="Long">
        delete from cms_attendance where meeting_id = #{meetingIds}
    </delete>
</mapper>
